APP_NAME=AiGram
APP_BUNDLE_ID=com.olcorporation.olai

GLOBAL_CONSTANTS = APP_CONFIG_API_ID=878275 APP_CONFIG_API_HASH="\"1a4dd2799dde6fd26b795ee6910667ea\"" APP_CONFIG_HOCKEYAPPID="\"\"" APP_CONFIG_IS_INTERNAL_BUILD=true APP_CONFIG_IS_APPSTORE_BUILD=true APP_CONFIG_APPSTORE_ID=0
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(GLOBAL_CONSTANTS)
